$header--height: 10rem;
$aside--height: calc(100vh - #{ $header--height });
$sidebar--width: 25rem;

// Header
.header-container {
	@extend %container__flex--row;
	background: $color__material--purple;
	padding: 1rem 0;
	align-items: center;
}

.header__container--logo {
	@extend %item--flex;
	width: 8rem;
	height: 8rem;
}

.header-icon {
	width: 100%;
	height: 100%;
}

.header-text_container {
	@extend %container__block;
	@extend .text__align--center;
	min-width: 18rem;
	padding: 0 2rem;
	color: $color__white;		
}

.header-text-container--label {
	@extend .text__size--large;
	@extend .text__weight--bold;	
}

.header-text-container--decription {
	@extend .text__size--medium;
}

// Top menu
.header-menu__container {
	@extend %container__flex--row;
	@extend %content__align--horizontal-right;
	min-width: 2rem;
	padding-right: 5rem;
	flex-grow: 1;
	@media only screen and (max-width: 800px) {
		display: none;
	}
}

.header-menu__item {
	@extend .text__align--center;
	margin: 0 .5rem; 
	padding: 0 .5rem;
	min-width: 10rem;
}

.header-menu__text {
	@extend .text__size--medium;
	@extend %item--default;
	transition: $transition--default;
	color: $color__white;
	border-bottom: .2rem solid $color--transperant;
	&:hover {
		border-bottom: .2rem solid  $color--white-09;
		cursor: pointer;
		color: $color__secondary--light;
	}
}

.header-hamburger__wrapper {
	@extend %wrapper--flex;
	@extend %content__align--horizontal-right;
	display: none;
	padding-right: 2rem;
	flex-grow: 1;
	@media only screen and (max-width: 800px) {
		display: flex;
	}
}

.header-hamburger__container {
	width: 3rem;
	height: 3rem;
	border: none;
	background: none;
	&:focus {
		outline: none;
		border: none;
	}
	&:active {
		outline: none;
		border: none;
	}
	&:hover {
		cursor: pointer;
	}
}

.header-hamburger__bar {
	background: $color--white;
	width: 3rem;
	height: .3rem;
	margin: .5rem;
}		 
 

.menu-link--active {
	border-bottom: .2rem solid $color--white-09;
	color: $color__secondary--light;
}

// Mobile menu 
.mobile-menu__wrapper {
	@extend %wrapper--block;
	position: fixed;
	top: $header--height;
	left: 0;
	border-top: .1rem solid $color--black-08;
	background: $color__material--purple;
	box-shadow: $box-shadow-hover;
	width: 100vw;
	z-index: 10;
	@media only screen and (min-width: 800px) {
		display: none;
	}
}

.mobile-menu__container {
	@extend %container__block;
	padding: 2rem;
}
.mobile-menu__item {
	padding: .5rem;
	margin-top: .5rem;
}

.mobile-menu__text {
	@extend .text__size--medium;
	@extend .text__align--center;	
	display: block;
	width: 15rem;
	margin: 0 auto;
	color: $color--white;
}

// Aside
.aside-container {
	@extend %container__flex--row;
	background: $color--white;
	height: $aside--height;
}

// Sidebar
.sidebar__container {
	transition: $transition--default;
	flex: 1;
	max-width: $sidebar--width;
	@extend %container__block;
	background: $color--white;
	height: $aside--height;
	border-left: $border--gray;
	z-index: 2;
	order: 2;
	@media only screen and (max-width: 800px) {
		display: none;
	}
}

.sidebar__list-container {
	padding-top: 3rem;
	@extend .container--list;
}

.sidebar__label {
	@extend %label--section;	
}

.sidebar__list-item {
	transition: $transition--default;
	border-left: .1rem solid $color--white-09;		
	@extend .list-item;
	&:hover {
		background: $color--white-09;
		border-left: .1rem solid $color__secondary--dark;
	}
	&:hover .sidebar__list-item__link {
		color: $color__secondary--dark;
	}
}

.sidebar__list-item__link {
	@extend .list-item__link;
}

// Article
.article-container {
	flex: 1;
	padding: 2rem 0 0 0;
	order: 1;
	overflow-y: auto;
}