<div class="cms__structure--wrapper">
	<!--Header-->
	<section class="header-container">
		<a class="header__container--logo" ui-sref="app.component.home">
			<img class="header-icon"  
					src="/assets/images/logo.png" 
					alt="Layout icon">
		</a>
	 <div class="header-text_container">
		<p class="header-text-container--label">Modular layout</p>
		<p class="header-text-container--decription">with Sass & BEM</p>		 
	 </div>

	 <!--Top menu-->
	 <ul class="header-menu__container">
		 <li class="header-menu__item"
		 		 ng-repeat="menuItem in vm.topMenuItems">
			 <a class="header-menu__text" 
				 	ng-class="{ 'menu-link--active': vm.state ===  menuItem.toLowerCase() }" 
					ui-sref="app.component.{{ menuItem.toLowerCase() }}">{{ menuItem }}</a> 			
		 </li>
	 </ul>

	 <!--Hamburger-->
	 <div class="header-hamburger__wrapper">
		<button class="header-hamburger__container" ng-click="vm.showMobileMenu = !vm.showMobileMenu; vm.showMobileComponentsMenu = false">
			<div class="header-hamburger__bar"></div>
			<div class="header-hamburger__bar"></div>
			<div class="header-hamburger__bar"></div>		 
		</button>
	 </div>

	 <!--Mobile menu-->
	 <div class="mobile-menu__wrapper" ng-show="vm.showMobileMenu">
		 <ul class="mobile-menu__container">
			 <li class="mobile-menu__item" 
			 		 ng-repeat="menuItem in vm.topMenuItems">
				 <a ng-click="vm.stateChange( menuItem.toLowerCase() )"
				 		ng-class="{ 'menu-link--active': vm.state ===  menuItem.toLowerCase() }" 
				 		class="mobile-menu__text">{{ menuItem }}</a>
			 </li>
		 </ul>
	 </div>
	 
	 <!-- Mobile components menu -->
	<div class="mobile-menu__wrapper" ng-show="vm.showMobileComponentsMenu">
		 <i class="fa fa-angle-left .text__size--large" ng-click="vm.showMobileComponentsMenu = !vm.showMobileComponentsMenu"></i>
		 <ul class="mobile-menu__container">
			 <li class="mobile-menu__item" 
			 		 ng-repeat="menuItem in vm.components"
						ng-click="vm.showMobileMenu = !vm.showMobileMenu; vm.showMobileComponentsMenu = !vm.showMobileComponentsMenu">
				 <a ui-sref="{{ menuItem.link }}"
				 		ng-class="{ 'menu-link--active': vm.state ===  menuItem.label.toLowerCase() }" 
				 		class="mobile-menu__text">
					<i class="fa {{ menuItem.icon }}"></i>
					<span> {{ menuItem.label }}</span>
				 </a>
			 </li>
		 </ul>
	 </div>

	</section>

	<!--Aside-->
	<section class="aside-container" >
		<!--Sidebar-->
		<div class="sidebar__container" ng-show="!vm.hiddenComponents">
			<p class="sidebar__label">Components</p>
			<ul class="sidebar__list-container">
				<li class="sidebar__list-item link-active" 
						ng-class="{ 'link--active': vm.state === link.toLowerCase()  }"
						ng-repeat="link in vm.links">
					<a class="sidebar__list-item__link" ui-sref="app.component.{{ link.toLowerCase() }}">{{ link }} </a>
				</li>
			</ul>
		</div>
		<!--Article-->
		<div class="article-container" ui-view></div>
	</section>
</div>
