<!--Buttons-->
<div class="buttons__wrapper--visual">
	<label class="buttons__label">Buttons</label>
	<div class="buttons__container">
		<div class="buttons__container--button">
			<p class="buttons__label--button-label">Flat button</p>	
			<button class="buttons__item--flat">TEST BUTTON (flat)</button>
		</div>
		<div class="buttons__container--button">
			<p class="buttons__label--button-label">Primary button</p>	
			<button class="buttons__item--primary">TEST BUTTON (normal)</button>
		</div>
		<div class="buttons__container--button">
			<p class="buttons__label--button-label">Primary button large</p>	
			<button class="buttons__item--large">TEST BUTTON (Large)</button>
		</div>
	</div>
</div>

<!--Description-->
<div class="buttons__wrapper--description">
	<p class="buttons__label--description">Description</p>
	<div class="buttons__container--description">
		<ul class="buttons__description--container">
			<li class="buttons__description--item">
				<p class="buttons__description--text">Some description</p>
			</li>
			<li class="buttons__description--item">
				<p class="buttons__description--text">Some description</p>
			</li>
		</ul>
	</div>
</div>
