$padding--default: 2rem;
$margin--default: 5rem;

// PlaceHolders
%button__size--default { width: 20rem; }
%button__size--large { width: 30rem; }

// Buttons section
.buttons__wrapper--visual {
	@extend %wrapper--block;
}

.buttons__label {
	@extend %label--section;
}

.buttons__container {
	@extend %container__flex--column;
	@extend %content__align--horizontal-center;
	margin: $margin--default;
}

.buttons__container--button {
	@extend %container__flex--row;
	margin-bottom: $margin--default;
	padding-left: $padding--default;
}

.buttons__label--button-label {
	@extend %label--small;
	width: 20rem;	
}


.buttons__item--flat {
	@extend %button__size--default;
	@extend %button--flat;
}

.buttons__item--primary {
	@extend %button__size--default;
	@extend %button--primary;
}

.buttons__item--large {
	@extend %button__size--large;
	@extend %button--primary;
	padding: 2rem;
}

// Description section
.buttons__wrapper--description {
	@extend %wrapper--block;
}

.buttons__label--description {
	@extend %label--section;
}

.buttons__container--description {
	@extend %countainer__block;
	@extend .text__align--justify;
	margin-bottom: $margin--default;
	padding: $padding--default;
	text-indent: $padding--default;
}

.buttons__description--container {
	@extend %container__block;
}

.buttons__description--item {
	list-style-type: square;
	padding-bottom: $padding--default;
}

.buttons__description--text {
	@extend .text__size--medium;
}