$typography__margin--default: 1rem;
$typography__padding--default: 2rem;

// Sizes
.sizes__wrapper {
	@extend %wrapper;
}

.sizes__label {
	@extend %label--section;
}

.sizes__container {
	padding: $typography__padding--default;
	@extend .text__align--center;
}

.sizes__label--size {
	@extend %label--small;
}

// Weight
.weights__wrapper {
	@extend %wrapper;
}

.weights__label {
	@extend %label--section;
}

.weights__container {
	padding: $typography__padding--default;
	@extend .text__align--center;
}

.weights__label--weight {
	@extend %label--small;
}

// aligment
.aligment__wrapper {
	@extend %wrapper;
}

.aligment__label {
	@extend %label--section;
}

.aligment__container {
	padding: $typography__padding--default;
	width: 50rem;
	margin: 0 auto;
}

.aligment__label--align {
	@extend %label--small-center;
}

.aligment__container--text {
	background: $color__white-08;
	padding: $typography__padding--default;
} 

// Description
.description__wrapper--typography {
	@extend %wrapper;
}

.description__label--typography {
	@extend %label--section;
}

.description__container--typography {
	padding: $typography__padding--default;
	text-indent: $typography__padding--default;
	@extend .text__align--justify;
}

// Exapmles
.examples__wrapper--typograpphy {
	@extend %wrapper;
}

.examples__label--typography-section {
	@extend %label--section;
}
.examples__container--typography {
	padding: $typography__padding--default;
}
.examples__label--typography {
	@extend %label--small;
}
.examples__container--typography-example {
	background: $color__white-08;
	margin: 0 5rem;
	padding: $typography__padding--default;
	@extend .text__align--center;
}