<!--Sizes-->
<div class="sizes__wrapper">
	<p class="sizes__label">Sizes</p>
	<div class="sizes__container">
		<p class="sizes__label--size">Text small</p>
		<p class="text__size--small">This is sample text ...</p>
	</div>
	<div class="sizes__container">
		<p class="sizes__label--size">Text normal</p>
		<p class="text__size--normal">This is sample text ...</p>
	</div>
	<div class="sizes__container">
		<p class="sizes__label--size">Text medium</p>
		<p class="text__size--medium">This is sample text ...</p>
	</div>
	<div class="sizes__container">
		<p class="sizes__label--size">Text large</p>
		<p class="text__size--large">This is sample text ...</p>
	</div>
	<div class="sizes__container">
		<p class="sizes__label--size">Text extra large</p>
		<p class="text__size--extra-large">This is sample text ...</p>
	</div>
</div>

<!--Weights-->
<div class="weights__wrapper">
	<p class="weights__label">Weight</p>
	<div class="weights__container">
		<p class="weights__label--weight">Text normal</p>
		<p class="text__size--large text__weight--normal">This is sample text ...</p>
	</div>
	<div class="weights__container">
		<p class="weights__label--weight">Text bold</p>
		<p class="text__size--large text__weight--bold">This is sample text ...</p>
	</div>
	<div class="weights__container">
		<p class="weights__label--weight">Text bolder</p>
		<p class="text__size--large text__weight--bolder">This is sample text ...</p>
	</div>
</div>

<!--Aligment-->
<div class="aligment__wrapper">
	<p class="aligment__label">Align</p>
	<div class="aligment__container">
		<p class="aligment__label--align">Text align left</p>
		<p class="text__size--medium text__align--left aligment__container--text">This is sample text ...</p>
	</div>
	<div class="aligment__container">
		<p class="aligment__label--align">Text align center</p>
		<p class="text__size--medium text__align--center aligment__container--text">This is sample text ...</p>
	</div>
	<div class="aligment__container">
		<p class="aligment__label--align">Text align right</p>
		<p class="text__size--medium text__align--right aligment__container--text">This is sample text ...</p>
	</div>
</div>

<!--Description-->
<div class="description__wrapper--typography">
	<p class="description__label--typography">Description</p>
	<div class="description__container--typography">
		<p class="text__size--normal">Some description</p>
	</div>
</div>
<!--Examples-->
<div class="examples__wrapper--typograpphy">
	<p class="examples__label--typography-section">Exapmles</p>
	<div class="examples__container--typography">
		<p class="examples__label--typography">Text small</p>
		<xmp class="examples__container--typography-example">
			<p class="text__size--small">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text normal</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__size--normal">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text medium</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__size--medium">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text large</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__size--large">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text extra large</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__size--extra-large">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text normal</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__weight--normal">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text bold</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__weight--bold">This is sample text ...</p>	
		</xmp>
			<p class="examples__label--typography">Text bolder</p>	
		<xmp class="examples__container--typography-example">
		<p class="text__weight--bolder">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text align left</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__align--left">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text align center</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__align--center">This is sample text ...</p>	
		</xmp>
		<p class="examples__label--typography">Text align right</p>	
		<xmp class="examples__container--typography-example">
			<p class="text__align--right">This is sample text ...</p>	
		</xmp>
	</div>
</div>