/*****************************************
*           --- Labels ---               *
*****************************************/

// Placeholders
%label--section {
	@extend .text__size--large !optional;
	@extend .text__weight--bold !optional;
	display: block;
	border-bottom: $border--gray;
	color: $color__black;
	padding: .5rem 2rem;
}


%label--small {
	@extend .text__size--medium !optional;
	display: block;
	color: $color__black-08;
	padding: 1rem 0;
}

%label--small-center {
	@extend .text__align--center !optional;
	@extend %label--small;
}

// Classes
.label--section {
	@extend %label--section !optional;
}

.label--small {
	@extend %label--small !optional;
}