/************************************
*          --- TEXTS ---            *
************************************/

// Sizes
$text__size--small: calc(#{$text_size--default} - .3rem);
$text__size--normal: $text_size--default;
$text__size--medium: calc(#{$text_size--default} + .3rem);
$text__size--large: calc(#{$text_size--default} + 0.7rem);
$text__size--extraLarge: calc(#{$text_size--default} + 2.3rem);

// Default text color
$color--default: $color__text--default;
$text__weight--default: 400;

// Aligment
$align--left : left;
$align--right : right;
$align--center : center;
$align--justify : justify;

// Shadows
$text__shadow--normal: .1rem .1rem .1rem $color--black-07;
$text__shadow--black: 0 0 0 $color--black;

// Mixins
@mixin text($size: $text__size--small, 
						$color: $color--default, 
						$shadow: null, 
						$align: null, 
						$weight: $text__weight--default, 
						$transform: null, 
						$letterSpacing: null) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
	text-align: $align;
	text-shadow: $shadow;
	text-transform: $transform;
	letter-spacing: $letterSpacing;
}

// Sizes
.text__size--small { font-size: $text__size--small; }
.text__size--normal { font-size: $text__size--normal; }
.text__size--medium { font-size: $text__size--medium; }
.text__size--large { font-size: $text__size--large; }
.text__size--extra-large { font-size: $text__size--extraLarge; }

// Weights
.text__weight--normal { font-weight: $text__weight--default; }
.text__weight--bold { font-weight: 600; }
.text__weight--bolder { font-weight: 900; }

// Aligment
.text__align--left { text-align: $align--left }
.text__align--center { text-align: $align--center }
.text__align--right { text-align: $align--right }
.text__align--justify { text-align: $align--justify }
