/******************************
*	    --- BUTTONS ---         *
*                             *
* Crated by: Vassil Dimitrov  *
*	Company: 158ltd             *
******************************/

// Buttons variables
$button__primary__padding--large: 1.6rem 4rem;
$button__primary__padding--default: .8rem 0.8rem;
$button__flat__padding--default: .4rem 0.8rem;
$button__transition--2s: .2s linear;

// backgrounds
$button__background--normal: $button__primary__background--default;
$button__background--hover: $button__primary__background--hover;
$button__background--active: $button__primary__background--active;
$button__background--disabled: $button__primary__background--disable;

$button__flat__background--normal: $button__flat__background--default;
$button__flat__background--hover: $button__flat__background--hover;
$button__flat__background--active: $button__flat__background--active;
$button__flat__background--disabled: $button__flat__background--disable;

// text colors
$button__color--text: $button__text--primary;
$button__flat__color--text: $button__text--flat;

// Placeholders for different button types
%button--primary {
	transition: $button__transition--2s;
  background: $button__background--normal;
  border: none;
	border-radius: $border--radius-03;
	box-shadow: $box-shadow-normal;
  color: $button__color--text;
  font-size: $text_size--default;
  text-decoration: none;
  text-transform: uppercase;
	margin: 0 1rem;
	&:hover {
		background: $button__background--hover;
		cursor: pointer;
	}
	&:focus {
		border: none;		
		background: $button__background--hover;
		outline: 0;
	}
	&:active {
		border: none;
		background: $button__background--active;
		box-shadow: $box-shadow-hover;
		outline: 0;
	}
	&:disabled {
		background: $button__background--disabled;
		color: $color--white-08;
		cursor: not-allowed;
	}
}

%button--flat {
	transition: $button__transition--2s;
	border: none;
	border-radius: $border--radius-03;
	background: $button__flat__background--normal;
	color: $button__flat__color--text;
	font-size: $text_size--default;
	margin: 0 1rem;
	padding: $button__flat__padding--default;
	text-transform: uppercase;
	&:hover {
		background: $button__flat__background--hover;
		box-shadow: $box-shadow-normal;
		cursor: pointer;
	}
	&:focus {
		background: $button__flat__background--hover;
		box-shadow: $box-shadow-normal;
		border: none;		
		outline: 0;
	}
	&:active {
		background: $button__flat__background--active;
		box-shadow: $box-shadow-hover;
		color: $color--primary;
		border: none;		
		outline: 0;
	}
	&:disabled {
		background: $button__flat__background--disabled;		
		cursor: not-allowed;
		color: $color--white-08;
	}
}
