/*********************************
*         --- Grid ---           *
*********************************/

$flex__direction--row: row;
$flex__direction--row-reverse: row-reverse;

// Placeholders
	// Wrappers
%wrapper--block {
	display: block;
	position: relative;
	min-height: 1rem;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

%wrapper--flex {
	display: flex;
	flex-direction: row;
	flex-wrap: warp;
	overflow: hidden;
}

// Containers
%container__block {
	@extend %wrapper--block !optional;
}

%container__flex--row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

%container__flex--row-reverse {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

%container__flex--column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

%container__flex--column-reverse {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}

%container__list {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Items
%item--flex {
	display: flex;
}

%item--default {
	display: block;
}

// Positioning
	// Content
		// Vertical
%content__align--vertical-center { align-items: center; }
%content__align--vertical-top {	align-items: flex-start; }
%content__align--vertical-bottom { align-items: flex-end; }
%content__align--vertical-stretch {	align-items: stretch; }
		// Horizontal
%content__align--horizontal-center { justify-content: center; }
%content__align--horizontal-left { justify-content: flex-start; }
%content__align--horizontal-right {	justify-content: flex-end; }

	// Item
%item__align--left { align-self: flex-start; }
%item__align--right {	align-self: flex-end; }
%item__align--center { align-self: center; }	
%item__align--stretch {	align-self: stretch; }	