<div class="how-to__wrapper">
	<label class="how-to__label">How to guide</label>
	<p class="how-to__description--label">Definition how to structure elements and basic layout usage.</p>

	<!--Content list-->
	<div class="how-to__container--list">
		<label class="how-to__label--list">Table of content</label>
		<ul class="how-to__container--list-items">
			<li class="how-to__list-item" ng-repeat="item in vm.contentItems">
				<a class="how-to__list-item--text">{{ item.label }}</a>
			</li>
		</ul>
	</div>
	
	<!--Page structure-->
	<div class="how-to__wrapper--page-structure">
		<label class="how-to__label--page-structure">Page structure</label>
		<div class="how-to__container--page-structure">
			<p class="how-to__text--naming">Every page is build by blocks like wall. Typical block that contains every page are:
				<span class="text__weight--bold">Header, Navigation (menu), Aside and Footer</span>
			</p>
		</div>
	</div>

	<!--Naming-->
	<div class="how-to__wrapper--naming">
		<label class="how-to__label--naming">Naming convention</label>
		<div class="how-to__container--naming">
			<p class="how-to__text--naming">
				Every element of page is child of it's block and every block contains his elements together. 
				According to B.E.M. naming conventions class attribute of every element have to start with the perant block name double underscore then name of element double dash modifier: 
				<span class="text__weight--bold">BLOCK__ELEMENT--MODIFIER</span>
			</p>
			<div class="how-to__container--example">
				<p class="how-to__text--naming text__weight--bold"> Example:</p>
				<p class="how-to__text--naming "> If our block is HEADER, element is picture and modifier logo, our class names have to look like this:  
					<span class="text__weight--bold">header__image--logo</span>
				</p>
				<xmp>
					<header class="header__wrapper">
						<div class="header__container">
							<a class="header__link--logo" href="home">
								<img class="header__image--logo" src="/" alt="Company logo">
							</a>
						</div>
					</header>
					&#60;A HREF="http://www.idocs.com"&#62;Cool Dude&#60;/A&#62;
				</xmp>				
			</div>
		</div>
	</div>
	
	<!--Style guide-->
	<div class="how-to__wrapper--style-guide">
		<label class="how-to__label--style-guide">Style guide</label>
		<div class="how-to__container--style-guide">
			<p class="how-to__text--naming">Lorem ipsum dolor sit amet ...</p>
		</div>
	</div>
	
	<!--Styling elements-->
	<div class="how-to__wrapper--styling-elements">
		<label class="how-to__label--styling-elements">Styling elements</label>
		<div class="how-to__container--styling-elements">
			<p class="how-to__text--naming">Lorem ipsum dolor sit amet ...</p>
		</div>
	</div>
	
	<!--Code structure-->
	<div class="how-to__wrapper--code-structure">
		<label class="how-to__label--code-structure">Code structure</label>
		<div class="how-to__container--code-structure">
			<p class="how-to__text--naming">Lorem ipsum dolor sit amet ...</p>
		</div>
	</div>
</div>