// Variables
$how-to__padding--default: 5rem;
$how-to__padding--small: 2rem;

// Styles
.how-to__wrapper {
	@extend %wrapper--block;
}

.how-to__label {
	@extend .text__size--extra-large;
	@extend .text__align--center;
	color: $color__black;
}

.how-to__description--label {
	@extend .text__size--medium;
	@extend .text__align--center;
	width: 50%;
	min-width: 28rem;
	margin: 0 auto;
}

.how-to__container--list {
	@extend %container__block;
	padding: $how-to__padding--default;
	width: 30%;
	min-width: 20rem;
}

.how-to__label--list {
	@extend %label--section;
}

.how-to__container--list-items {
	padding: $how-to__padding--small;
}

.how-to__list-item {
	list-style-type: square;
	padding: .5rem;
	margin: .5rem;
	&:hover {
		cursor: pointer;
		color: $color__secondary--dark;
	}
}

.how-to__list-item--text {
	display: block;
	@extend .text__size--medium;
}

.how-to__container--example {
	padding: $how-to__padding--small;
}
// Page structure
.how-to__wrapper--page-structure {
	@extend %wrapper__block;
}

.how-to__label--page-structure {
	@extend %label--section;
}

.how-to__container--page-structure {
	@extend %container__block;
	padding: $how-to__padding--small $how-to__padding--default;
}

.how-to__text--page-structure {
	@extend .text__size--medium;
}

// Naming convention
.how-to__wrapper--naming {
	@extend %wrapper__block;
}

.how-to__label--naming {
	@extend %label--section;
}

.how-to__container--naming {
	@extend %container__block;
	padding: $how-to__padding--small $how-to__padding--default;
	margin-top: 2rem;
}

.how-to__text--naming {
	@extend .text__size--medium;
}

// Style giude
.how-to__wrapper--style-guide {
	@extend %wrapper__block;
}

.how-to__label--style-guide {
	@extend %label--section;
}

.how-to__container--style-guide {
	@extend %container__block;
	padding: $how-to__padding--small $how-to__padding--default;
} 

.how-to__text--style-giude {
	@extend .text__size--medium;
}

// Styling elements
.how-to__wrapper--styling-elements {
	@extend %wrapper__block;
}

.how-to__label--styling-elements {
	@extend %label--section;
}

.how-to__container--styling-elements {
	@extend %container__block;
	padding: $how-to__padding--small $how-to__padding--default;
} 

.how-to__text--styling-elements {
	@extend .text__size--medium;
}

// Code structure
.how-to__wrapper--code-structure {
	@extend %wrapper__block;
}

.how-to__label--code-structure {
	@extend %label--section;
}

.how-to__container--code-structure {
	@extend %container__block;
	padding: $how-to__padding--small $how-to__padding--default;
} 

.how-to__text--code-structure {
	@extend .text__size--medium;
}