// Text
$text_size--default: 1.3rem;
$text__weight--default: 400;

//* Shadows */
$box-shadow-normal: 0 .1rem .3rem $shadow__normal--first, 0 .1rem .2rem $shadow__normal--second;
$box-shadow-hover: 0 1rem 2rem $shadow__hover--first, 0 .6rem .6rem $shadow__hover--second;

// Borders
$border--radius-05: .5rem;
$border--radius-03: .3rem;
$border--radius-0: none;
$border--radius-50: 50%;
$border--black: .1rem solid $color--black-09;
$border--gray: .1rem solid $color--white-08;

/* Transitions */
$transition--default: .3s linear;