/************************************
*    --- Structure ---              *
************************************/

.cms__structure--wrapper {
	position: relative;
	width: 100%;
	min-width: 32rem;
	min-height: 100vh;
	overflow-x: hidden;
}

.cms__structure--header {
	position: relative;
	width: 100%;
	min-height: 5rem;
}

.cms__structure--aside {
	position: relative;
	width: 100%;
	min-height: 5rem;
}

.cms__structure--sidebar {
	position: relative;
	width: 25rem;
	height: calc(100vh - 5rem);
}