<!--Header-->
<section class="home__wrapper">
	<div class="home__container">
		<label class="home__label">Modular layout</label>
		<p class="text__size--medium text__align--center">Biuld with Sass and BEM naming convention</p>
	</div>
</section>

<!--Advantages-->
<section class="advantages__wrapper">
	<label class="advantages__label">What we offer</label>
	<div class="advantages__container">
		<div class="advantages__container--image">
			<img class="advantages__image" src="/assets/images/check.svg" alt="Advantages image">
		</div>
		<div class="advantages__container--list">
			<ul class="advantages__list">
				<li class="advantages__item">
					<p class="advantages__item--text">All you need at all devices and all browsers.</p>
				</li>
				<li class="advantages__item">
					<p class="advantages__item--text">Totaly new concept.</p>
				</li>
				<li class="advantages__item">
					<p class="advantages__item--text">Organized and readable HTML.</p>
				</li>				
				<li class="advantages__item">
					<p class="advantages__item--text">Only one class for every element.</p>
				</li>				
				<li class="advantages__item">
					<p class="advantages__item--text">Basic CSS skills required.</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<!--Options-->
<section class="options__wrapper">
	<div class="options__container">
		<label class="options__label">Available components</label>
		<div class="options__wrapper--items">
			<div class="options__container--items" ng-repeat="item in vm.links">
				<a class="options__item" 
					ui-sref="{{ item.link }}">
					<i class="fa {{ item.icon }} options__icon" aria-hidden="true"></i>
					<p class="options__label--text">{{ item.label }}</p>
				</a>
			</div>
		</div>
	</div>
</section>

<!--Logos-->
<section class="logos__wrapper">
	<div class="logos__container">
		<div class="logos__container--sass">
			<img src="/assets/images/Sass_Logo_Color.svg.png" alt="" class="logos__image--sass">
		</div>
		<div class="logos__container--bem">
			<img src="/assets/images/bem-logo.png" alt="" class="logos__image--bem">
		</div>
		<div class="logos__container--158">
			<img src="/assets/images/logo--158.png" alt="" class="logos__image--158">
		</div>
	</div>
</section>

<!--Footer-->
<section class="footer__wrapper">
	<div class="footer__container">
		<p class="footer__text">
			<i class="fa fa-copyright" aria-hidden="true"></i>
			2016. Design by</p>
		<a class="footer__link" href="http://www.kids-playground.net">
			<img class="footer__logo" src="/assets/images/logo__rabbits.jpg" alt="Rabbits counter logo">
		</a>
	</div>
</section>