// Variables
$home__wrapper--padding-normal: 10rem;
$options__item--padding-normal: 2rem;

// Styles
.home__wrapper {
	@extend %wrapper--block;
	background: url("/assets/images/background.png") no-repeat scroll 100% 100% / 110rem 50rem;
}

.home__container {
	padding: 15rem 0;
	@media only screen and (max-width: 980px) {
		background: $color__white--transperant-06;
	}
}

.home__label {
	@extend .text__size--extra-large;
	@extend .text__align--center;
	@extend .text__weight--bold;
	color: $color--black;
	text-transform: uppercase;
}

// Advantages
.advantages__wrapper {
	@extend %wrapper--block;
	background: url("/assets/images/bg/tiles.png") no-repeat scroll;
	background-position: 25% 100%;
	background-size: 60rem;
	@media only screen and (max-width: 1023px) {
		background-position: 30% 50%;
		background-size: 30rem;
	}
}

.advantages__label {
	@extend .text__size--extra-large;
	@extend .text__align--center;	
	text-transform: uppercase;
	color: $color--black-09;
	padding: 15rem 0 10rem 0 ;
	@media only screen and (max-width: 1023px) {
		padding: 5rem 0 2rem 0 ;
	}
}

.advantages__container {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	padding: 2rem 1rem 15rem 1rem;
	@media only screen and (max-width: 1023px) {
		padding: 2rem 1rem 0rem 1rem;
	}
}

.advantages__container--image {
	@extend %container__flex--row;
	@extend %content__align--horizontal-center;	
	width: 30%;
	margin-left: 20%;
	@media only screen and (max-width: 1023px) {
		display: none;
	}
}

.advantages__image {
	width: 40rem;
	height: 23rem;
}


.advantages__container--list {
	@extend %container__flex--row;
	@extend %content__align--horizontal-center;
	background: $color__white--transperant;
	flex-grow: 1;
	padding: 4rem;
}

.advantages__list {
	@extend %container__list;
}

.advantages__item {
	list-style-type: square;	
	padding: .8rem 1rem;
}

.advantages__item--text {
	@extend .text__size--large;
	color: $color--black;	
}

// Logos
.logos__wrapper {
	@extend %wrapper--block;
	background: $color__white-09;
}

.logos__container {
	@extend %container__flex--row;
	padding: 5rem;
}

.logos__container--sass {
	@extend %container__flex--row;
	@extend %content__align--horizontal-center;
	flex-grow: 1;
	padding: 2rem 0;
}

.logos__image--sass {
	width: 15rem;
	height:11rem;
}

.logos__container--bem {
	@extend .logos__container--sass;
	padding: 2rem 0;	
}

.logos__image--bem {
	width: 15rem;
	height: 11rem;
}

.logos__container--158 {
	@extend .logos__container--sass;
	@extend %content__align--vertical-center;
	padding: 2rem 0;	
}

.logos__image--158 {
	width: 15rem;
	height: 4rem;
}
// Options
.options__wrapper {
	@extend %wrapper--block;
}

.options__container {
	padding: 15rem $options__item--padding-normal;
}

.options__wrapper--items {	
	@extend %container__flex--row;
	padding-top: 5rem;
}

.options__container--items {
	flex: 1 0 auto;
	margin: .5rem;
	@media only screen and ( max-width: 1840px) {
		min-width: 40rem;
	}
	@media only screen and ( max-width: 1680px) {
		min-width: 35rem;
	}
	@media only screen and ( max-width: 1480px) {
		min-width: 30rem;
	}
	@media only screen and ( max-width: 1280px) {
		min-width: 25rem;
	}
	@media only screen and ( max-width: 1080px) {
		min-width: 20rem;
	}
	@media only screen and ( max-width: 870px) {
		min-width: 30rem;
	}
	@media only screen and ( max-width: 360px) {
		min-width: 20rem;
	}
	
}

.options__label {
	@include text($text__size--extraLarge,
								$color__black,
								$align: center,
								$transform: uppercase);
}

.options__item {
	display: block;
	width: 20rem;
	flex: 1 0 auto;
	color: $color__black;
	margin: 0 auto;
	padding: $options__item--padding-normal;
	transition: $transition--default;
	&:hover .options__icon {
		color: $color__black;
		text-shadow: 0 0 .5rem $color__secondary--normal;				
	}
	&:hover .options__label--text {
		color: $color__secondary--dark;
		text-shadow: 0 0 .5rem $color__secondary--normal;		
	}
}

.options__icon {
	display: block;
	color: $color__black-06;
	font-size: calc(#{ $text_size--default } + 3em);
	padding: $options__item--padding-normal;
	@extend .text__align--center;
	transition: $transition--default;
}

.options__label--text {
	transition: .2s linear;	
	@extend .text__size--large;
	@extend .text__align--center;
}

// Footer
.footer__wrapper {
	@extend %wrapper--default;
	background: $color--black-09;
	padding: 1.6rem;
}

.footer__container {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;
	@extend %content__align--horizontal-right;	
	height: 2rem;
}

.footer__text {
	@extend .text__size--normal;
	color: $color__white-09;
}

.footer__link {
	@extend %container__flex--row;
	@extend %content__align--vertical-center;	
	padding: 0 .5rem;
}

.footer__text--virge {
	@extend .text__size--medium;
	@extend .text__weight--bold;
	color: $color__white;
	order: 2;
}

.footer__logo {
	width: 2rem;
	height: 2rem;
	margin: 0 1rem;
	order: 1;	
}