/*************************
*    --- Fixes ---       *
*************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html {
	font-size: 62.5%;
}

body {
	color: $color__text--default;
	font-size: $text_size--default;
	font-weight: $text__weight--default;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Remove dotted border on mozilla on focus
::-moz-focus-inner { border: 0; }

a, a:hover, a:active, a:focus{
	outline: 0;
	text-decoration: none;
}

p {	margin: 0; }
label { display: block; }

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.cms__structure--wrapper {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.cms__structure--wrapper {
		height: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.cms__structure--wrapper {
		height: 320px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.cms__structure--wrapper {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.cms__structure--wrapper {
		height: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.cms__structure--wrapper {
		height: 480px;
	}
}