.container--list {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.list-item {
	list-style-type: none;
}

.list-item__link {
	display: block;
	color: $color__text--default;
	text-decoration: none;
	padding: .5rem 2rem;
	font-weight: 600;
}

.link--active {
	background: $color--white-09;
	border-left: .1rem solid $color__secondary--dark;
}