/*******************************
*        -- PALETTE --         *
*******************************/

// Black shades
$color__black: #000;
$color__black-09: #333;
$color__black-08: #555;
$color__black-07: #888;
$color__black-06: #999;
$color__black-05: #aaa;

// White shades
$color__white: #fff;
$color__white-09: #eee;
$color__white-08: #ddd;
$color__white-07: #ccc;
$color__white-06: #bbb;
$color__white-05: #aaa;
$color__white--transperant: rgba(255, 255, 255, .9);
$color__white--transperant-06: rgba(255, 255, 255, .6);

// Transperant
$color--transperant: rgba(0, 0, 0, 0);

// Shadow colors
$shadow__normal--first: rgba(0,0,0,0.12);
$shadow__normal--second: rgba(0,0,0,0.24);
$shadow__hover--first: rgba(0,0,0,0.19);
$shadow__hover--second: rgba(0,0,0,0.23);

// Gradients
%gradient--gray {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+0,7db9e8+100&1+0,0+49 */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(211,211,211,1) 0%, rgba(169,198,221,0) 49%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(211,211,211,1) 0%,rgba(169,198,221,0) 49%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(211,211,211,1) 0%,rgba(169,198,221,0) 49%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}