$color__text--default: #333333;

// Page colors
$color--default: #536DFE;
$color--primary: #1976D2;
$color--light:#2196F3;
$color--dark: #0D47A1;
$color__secondary--normal: #CE93D8;
$color__secondary--light: #F3E5F5;
$color__secondary--dark: #AB47BC;
$color__material--purple: #9575cd;

// Buttons
	// Primary & Large
$button__primary__background--default: #2196F3;
$button__primary__background--hover: #1976D2;
$button__primary__background--active: #0D47A1;
$button__primary__background--focus: #1976D2;
$button__primary__background--disable: #999;

	// Flat
$button__flat__background--default: #fff;
$button__flat__background--hover: #ddd;
$button__flat__background--active: #aaa;
$button__flat__background--focus: #ddd;
$button__flat__background--disable: #999;

	// Buttons text
$button__text--primary: #fff;
$button__text--flat: #2196F3;